<!DOCTYPE html>
{#
    This is the base layout. This setups the structure of the whole
    page and is used for all html-pages.
#}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        
        <!-- Local stylesheet -->
        <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css') }}>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <!-- Block for scripts to be run in the header -->
        {% block base_top_scripts %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="text-color">
        <div class="ui attached stackable menu">
            <div class="ui container">
              <a class="item" href="/">
                <i class="home icon"></i> Home
              </a>
              <a class="item" href="/add/wanted">
                <i class="dollar sign icon"></i> Wanted books
              </a>
              <a class="item" href="/add/finished">
                <i class="check icon"></i> Finished books
              </a>
              <a class="item" onclick="show_modal()">
                <i class="book icon"></i> Add new book
              </a>
              <div class="ui simple dropdown item">
                Settings
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item"><i class="edit icon"></i> Edit Profile</a>
                  <a class="item"><i class="globe icon"></i> Choose Language</a>
                  <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
              </div>
              <div class="right item">
                <div class="ui input" data-children-count="1"><input type="text" placeholder="Search..."></div>
              </div>
            </div>
          </div>
          <div class="ui modal" id="testing">
            <i class="close icon"></i>
            <div class="header">
              Add book
            </div>
            <div class="image content">
              <div class="description">
                <div class="ui top attached tabular menu">
                  <a class="item active" data-tab="isbn_tab">ISBN</a>
                  <a class="item" data-tab="manual_tab">Manual</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="isbn_tab">
                  <div class="ui form">
                    <div class="field required">
                      <label>ISBN-Number</label>
                      <input type="text" name="last-name" placeholder="9781509808311">
                    </div>
                    <button class="ui primary button" id="isbn_tab_search_button">
                      Search
                    </button>
                    <button class="ui negative button" id="isbn_tab_clear_button">
                      Clear
                    </button>
                    <div class="ui positive message hidden" id="isbn_lookup_success">
                      <div class="header">We found a match!</div>
                        Book with ISBN... bla bla bla
                    </div>
                    <div class="ui negative message hidden" id="isbn_lookup_failure">
                      <div class="header">We had some issues</div>
                        We did not find a book that matches the given ISBN.
                    </div>
                  </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="manual_tab">
                  Not implemented yet!
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="ui positive deny button">
                Add book
              </div>
              <div class="ui negative right labeled icon button">
                Cancel
                <i class="checkmark icon"></i>
              </div>
            </div>
          </div>
        <!-- Main block for body -->
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
        <script>
          function show_modal(){
            $('.ui.modal')
              .modal('show')
            ;
          }
          $('#isbn_tab_search_button').on('click', function(){
            $('#isbn_lookup_success').show();
          })

          $('#isbn_tab_clear_button').on('click', function(){
            $('#isbn_lookup_success').hide();
          })

          $('.tabular.menu .item').tab();
        </script>
        <!-- Block for scripts to be run in the bottom of the body -->
        {% block base_bottom_scripts %}{% endblock %}
    </body>
</html>

